
__pycache__/
*.py[cod]
*.so
*.pyo

gaze-env/
venv/
env/

*.log
*.out
*.tmp

models/
*.h5
*.hdf5
*.pkl
*.pth


data/
assets/
reports/

.env
*.env

.DS_Store
Thumbs.db

.ipynb_checkpoints/
*.cache

.vscode/
